{% load static %}
<html>

    <head>
        <title>
            Merchex
        </title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>

    <body>
        <nav>
            <a href="{% url 'band-list' %}">Groupes</a>
            <a href="{% url 'listing-list' %}">Annonces</a>
            <a href="{% url 'contact' %}">Nous Contacter</a>
            <a href="{% url 'about' %}">A Propos</a>
        </nav>

        {% block content %} {% endblock %}

    </body>

</html>