{% extends 'listings/base.html' %}

{% block content %}
<h1>Annonces</h1>

<a href="{% url 'listings-create' %}">Creer une nouvelle annonce</a>

<ul>

    {% for listin in listing %}
    <li>
        <a href="{% url 'listing-detail' listin.id %}"> {{ listin.title }} </a>
        - <a href="{% url 'listing-update' listin.id %}">Modifier cette annonce</a>
        - <a href="{% url 'listing-delete' listin.id %}">supprimer cette annonce</a>
    </li>
    {% endfor %}
    <!--
    <li>{listing[1].title}</li>
    <li>{listing[2].title}</li>
    <li>{listing[3].title}</li> -->
</ul>

{% endblock %}