{% extends 'listings/base.html' %}

{% block content %}

<h1>detail de : {{ listing.title }}</h1>

<ul>
    {% if listing.description != 'none' %}
        <li>Description : {{ listing.description }}</li>
    {% endif %}
    <li>Solde : {{ listing.sold|yesno }}</li>
    <li>Annee : {{ listing.year }}</li>
    <li>Type : {{  listing.get_type_display }}</li>
    <li>Band : {{  listing.band }}</li>
</ul>

<a href="{% url 'listing-list' %}">Retour aa tous les annonces</a>
<a href="{% url 'listing-update' listing.id %}">Modifier cette annonce</a>
- <a href="{% url 'listing-delete' listing.id %}">supprimer cette annonce</a>

{% endblock %}